# Analysis of the Iris Dataset.
*By Laura Lyons*
***

## **1.0    Introduction**
***
The Iris dataset was compiled by Edgar Anderson and pusblish by Ronald Fisher in 1936 () and is composed of is collection of measurements taken from 3 different types of irises present on the Gaspe Peninsula (Iris flower data set, 2024)

The raw data set is available [on Github](https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv). This source was choosen as:
 - all headings are properly formatted and in lower case
 - all integer varialbles are to one decimal point.
 This will make for an easier analysis.

## **2.0    Methods**
***

#### 2.1    Prerequisites/ Imports

A number of imports were used to help with the data analysis and visualisation.

1. **Pandas**: for for the DataFrame data structure and forstoring, manipulating and working with structured data. It allows us to investigate CSV files, amongst other features.

1. **Numpy**: as it creates efficient data structures for dealing with numerical data in python. Reference Lecture 5. Module Principles of Data Analytics.

1. **Matplotlib.pyplot:** for creating plots.

1. **Seaborn**: matplotlib sub-library for creating attractive data visualisation.

In [3]:
# Data frames
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### 2.2    Load the Data
The Iris data set was loaded from a URL.

Once the data was loaded, it allowed analyse/ investigate the data to begin.

In [4]:
# Load the penguins data set.
df=pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

## **3.0 Results**
***

In [9]:
# An overview of the data was retrieved so that we could decifer the type and number of variables present. 
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
# It would be helpful to know what type fo data each of the variables is?
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

From the above data frame, we can see that there are 5 variables of which 4 are numerical and the final variable is an object.

In [12]:
df. describe([0:51])

SyntaxError: invalid syntax (2581339352.py, line 1)

In [6]:
# It would be useful to know how many of each species were analised and also how many male and female penguins were measured within each species.

df ['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## **0.0    References**
***
'Iris flower data set' (2024) *Wikipedia.* Available at https://en.wikipedia.org/wiki/Iris_flower_data_set (Accessed: 18.03.2024)